.app{
  background: #7BDFF2;
  min-height: 100vh;
  height: 100%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.count {
  border-radius: 5px;
  height: 300px;
  width: 370px;
  background: #ffffff;
  border: 2px solid rgb(0, 0, 0);
}


.displaying {
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  background: #FF3B1D;
  height: 180px;
  width: 346px;
  text-align: center;
  font-size: 100px;
}

.white{
  color: white;
  font-size: 120px;
}


.displaying1 {
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  margin: 10px;
  background: #FF3B1D;
  height: 80px;
  width: 346px;
}

.button {
  border-radius: 15px;
  border: 2px solid black;
  margin: 8px;
  background: #ffffff;
  height: 60px;
  width: 152px;
  text-align: center;
  font-size: 30px;
  outline: none;
}

.item{
  display: flex;
}

.value{
  white-space: pre;
  font-size: 30px;
  margin: 20px 0px 20px 20px;
  width: 100px;
}

.input{
  height: 30px;
  width: 100px;
  margin: 25px 50px 0px 100px;
}
