.app{
  background: #004643;
  min-height: 100vh;
  height: 100%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.count {
  border-radius: 5px;
  height: 300px;
  width: 370px;
  background: #abd1c6;
  border: 2px solid rgb(0, 0, 0);
}


.displaying {
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
  background: #f9bc60;
  height: 180px;
  width: 346px;
  text-align: center;
}

.maxValue{
  color: red;
  font-size: 100px;
}

.textError{
  color: red;
  font-size: 20px;
  background: rgb(241, 213, 213);
}

.number{
  font-size: 100px;
}


.displaying1 {
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  margin: 10px;
  background: #f9bc60;
  height: 80px;
  width: 346px;
}

.button {
  border-radius: 15px;
  border: 2px solid black;
  margin: 8px;
  background: #ffffff;
  height: 60px;
  width: 152px;
  text-align: center;
  font-size: 30px;
  outline: none;
}

.item{
  display: flex;
}

.value{
  white-space: pre;
  font-size: 30px;
  margin: 20px 0px 20px 20px;
  width: 100px;
}

.input{
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin: 25px 50px 0px 100px;
  outline: none;
}

.inputError{
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin: 25px 50px 0px 100px;
  border: solid 2px red;
  outline: none;
  box-shadow: 0 0 15px rgb(3, 3, 3);
  background: rgb(241, 213, 213);
}
